<div class="container">
    <div class="card text-white bg-primary col-md-8" >
        <div class="card-header">
            Add a record
        </div>
        <div class="card-body">
            <form #budgetForm="ngForm" (ngSubmit)="addBudget(budgetForm)">
                <div class="form-group">
                    <input type="text"placeholder="Insert a concept" name="concept" class="form-control" [(ngModel)]="budgetService.selectedBudget.concept">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Insert amount" name="amount" class="form-control" [(ngModel)]="budgetService.selectedBudget.amount">
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" [(ngModel)]="budgetService.selectedBudget.date">
                </div>
                <div class="form-group">
                    <label>Select a type</label>
                    <select class="form-control" name="type" [(ngModel)]="budgetService.selectedBudget.type">
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                </div>
                <button class="btn btn-secondary">Add record</button>
            </form>
        </div>
    </div>
</div>