<table class="table table-hover">
    <thead>
        <tr class="table-ligth">
            <th> Concept</th>
            <th> Amount</th>
            <th> Date</th>
            <th> Type</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-dark"  *ngFor="let record of budgetService.budget" >
             <td>{{record.concept}}</td>
             <td>{{record.amount}}</td>
             <td>{{record.date}}</td>
             <td>{{record.type}}</td>
        </tr>
    </tbody>
</table>
<table>
    <tr *ngFor="let total of budgetService.sum"> 
        <td><h2>Balance: ${{total.sum}}</h2></td>
    </tr>
</table>


